version: '3'
services:
  dashcam_risk:
    build: .
    container_name: dashcam_risk
    ports:
      - "6080:80"
    volumes:
      - .:/home/project
    networks:
      static-network:
        ipv4_address: 172.50.0.2
networks:
  static-network:
    ipam:
      config:
        - subnet: 172.50.0.0/16
          #docker-compose v3+ do not use ip_range
          ip_range: 192.168.0.1/24
